certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
et_xmlfile==1.1.0
ExifRead==3.0.0
fonttools==4.51.0
future==1.0.0
GDAL==3.10.2
geographiclib==2.0
geopandas==1.0.1
httplib2==0.22.0
idna==3.7
Jinja2==3.1.3
kiwisolver==1.4.5
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.10.0
mock==5.1.0
networkx==3.3
nose2==0.14.1
numpy==1.26.4
openpyxl==3.1.2
OWSLib==0.32.0
packaging==24.0
pandas==2.2.3
pillow==11.1.0
plotly==5.20.0
ply==3.11
psycopg2==2.9.10
pyarrow @ file:///C:/src/osgeo4w/src/arrow-cpp/apache-arrow-18.1.0/python/dist/pyarrow-18.1.0-cp312-cp312-win_amd64.whl#sha256=740a126a1498ec03ac9a013fc3c0e7c8564073c03968a62cf01958290c7ac29f
Pygments==2.17.2
pyodbc==5.1.0
pyogrio @ file:///C:/src/osgeo4w/src/python3-pyogrio/pyogrio-0.9.0
PyOpenGL==3.1.7
pyparsing==3.1.2
PyPDF2==3.0.1
pypiwin32==223
pyproj==3.7.0
PyQt5==5.15.11
PyQt5_sip==12.16.1
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
PyYAML==6.0.1
remotior_sensus==0.4.4
reportlab==4.2.5
requests==2.31.0
scipy==1.13.0
setuptools==75.8.0
shapely==2.0.6
simplejson==3.19.2
sip==6.9.1
six==1.16.0
tenacity==8.2.3
tzdata==2024.1
urllib3==2.2.1
wxPython @ file:///C:/src/osgeo4w/src/python3-wxpython/wxPython-4.2.2/dist/wxPython-4.2.2-cp312-cp312-win_amd64.whl#sha256=ebdcc366801e578df30679f237f29a60a33640f0cce530e2c477c48b9736a1cd
xlrd==2.0.1
xlwt==1.3.0
